<style>
  p{
    color: goldenrod;
  }
  
  h1{
    color: gold;
    font-size: 3em;
  }
  
  div{
    background-color: goldenrod;
  }
  
  title{
    color: black;
  }

  p{
  font-family: "Audiowide", sans-serif;
}

img{
  float: right;
}

body{
  background-color: black;
}

h2{
  color: gold;
}

a{
  color: darkgoldenrod;
}

h1{
  font-family: "Arbutus";
}

h2{
  font-family: "Arbutus";
}

li{
  font-family: "Audiowide"; sans-sarif;
  font-size:medium
}
  </style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"