body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formWrapper{
  max-width: 80%;
  height: 500px;
  display: flex;
  margin-top: 80px;
  background-color: mediumaquamarine;
  border-radius: 10px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
}

.linksY{
  float: left;
}

img{
  float: left;
}

script{
  align-items: center;
}