ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Lobster', cursive;
}

h1{
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
}

h2{
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: x-large;
  font-stretch: extra-expanded;
  color: blueviolet;
}

p{
  color: white;
  text-align: center;
}

td{
  border: solid 2px black;
}

th{
  border: solid 2px black
}

#salesTable{
  position: absolute;
  top: 380px;
  left: 405px;
  background-color: grey;
}

body{
  background-image: url("https://www.desktopbackground.org/p/2015/08/03/989497_the-world-hd-desktop-wallpapers-high-definition-fullscreen_3840x2400_h.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  background-color: black;
}